body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .image {
    margin-left: 35%;
}

.form-container form {
    display: grid;
    grid-gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}



input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 20px 20px;
    border: none;
    /* height: 100%; */
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-form {
        max-width: 90%;
    }
}